.info-image {
  max-height: 43%;  
}

.info-text {
  height: 40%;
  margin-top: 10px;
}

.info-blank {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20%;
}

.info-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.info-basic {
  font-size: 20px;
  text-align: center;
}
