 <StackLayout class="info">
   <Image *ngIf="business.imageUrl" class="img-circle info-image" height="250" width="250" [src]="business.imageUrl"></Image>
  <StackLayout class="info-text">
    <Label [text]="business.name" class="info-name"></Label>
    <Label *ngIf="business.basicAddress" [text]="business.basicAddress" class="info-basic"></Label>
    <Label *ngIf="business.distance" text="Distance: {{business.distance}} miles" class="info-basic"></Label>
    <Label *ngIf="business.rating" text="Rating: {{business.rating}}" class="info-basic"></Label>
    <Label *ngIf="business.price" text="Price: {{business.price}}" class="info-basic"></Label>
    <Label *ngIf="business.phoneNumber" text="Phone: {{business.phoneNumber}}" class="info-basic"></Label>
    <Button *ngIf="business.distance"[text]="buttonText" class="info-basic btn btn-secondary" (tap)="openWebsite()"></Button>
  </StackLayout>
 </StackLayout>
