.info {
  height: 63%;
}
.info-image {
  max-height: 23%;
}

.info-text {
  min-height: 40%;
  margin-top: 10px;
}

.info-name {
  font-size: 24px;
  height: 100px;
  font-weight: bold;
  text-align: center;
}

.info-basic {
  font-size: 20px;
  height: 70px;
  text-align: center;
}
