<ActionBar class="action-bar">

    <!--
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem  android:visibility="collapsed" (tap)="testPrint()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Indecision Plaza"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<StackLayout>
  <Button class="btn btn-primary btn-active p-5 m-5" text="Pick a Restaraunt!" (tap)="findFood()"></Button>
  <Label class="h3 p-15" [text]="foodInfo" textWrap="true"></Label>
</StackLayout>
